In [1]:
import pandas as pd

## Extraction

In [2]:
# define csv variable from github raw website
csv = "https://raw.githubusercontent.com/owid/co2-data/master/owid-co2-data.csv"

In [3]:
# define DF variable to read CSV
co2_df = pd.read_csv(csv)

In [4]:
# show head results
co2_df.head()

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_cumulative_oil_co2,share_global_cumulative_other_co2,share_global_flaring_co2,share_global_gas_co2,share_global_oil_co2,share_global_other_co2,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Afghanistan,1949,AFG,7624058.0,NaN,NaN,NaN,0.015,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1950,AFG,7752117.0,9.421400e+09,NaN,NaN,0.084,0.070,475.0,...,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1951,AFG,7840151.0,9.692280e+09,NaN,NaN,0.092,0.007,8.7,...,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
3,Afghanistan,1952,AFG,7935996.0,1.001733e+10,NaN,NaN,0.092,0.000,0.0,...,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN
4,Afghanistan,1953,AFG,8039684.0,1.063052e+10,NaN,NaN,0.106,0.015,16.0,...,0.0,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN

## Transformation

In [5]:
# pick only dates after 1972
co2_df_cleaned = co2_df.loc[co2_df['year']>=1972,:]

In [6]:
# display country names to help see which to remove
co2_df_cleaned['country'].unique()

array(['Afghanistan', 'Africa', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Anguilla', 'Antarctica', 'Antigua and Barbuda', 'Argentina',
       'Armenia', 'Aruba', 'Asia', 'Asia (excl. China & India)',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bonaire Sint Eustatius and Saba',
       'Bosnia and Herzegovina', 'Botswana', 'Brazil',
       'British Virgin Islands', 'Brunei', 'Bulgaria', 'Burkina Faso',
       'Burundi', 'Cambodia', 'Cameroon', 'Canada', 'Cape Verde',
       'Central African Republic', 'Chad', 'Chile', 'China',
       'Christmas Island', 'Colombia', 'Comoros', 'Congo', 'Cook Islands',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czechia', 'Democratic Republic of Congo', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador', 'Egypt',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Eswatini', 'Ethiopia', 'Europe', 'Europe (excl. EU-27)',
       'Europe (excl. EU-28)', 'European Union (27)',
       'European Union (28)', 'Faeroe Islands', 'Fiji', 'Finland',
       'France', 'French Equatorial Africa', 'French Guiana',
       'French Polynesia', 'French West Africa', 'Gabon', 'Gambia',
       'Georgia', 'Germany', 'Ghana', 'Greece', 'Greenland', 'Grenada',
       'Guadeloupe', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'High-income countries', 'Honduras', 'Hong Kong',
       'Hungary', 'Iceland', 'India', 'Indonesia',
       'International transport', 'Iran', 'Iraq', 'Ireland', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Kosovo', 'Kuwait', 'Kuwaiti Oil Fires', 'Kyrgyzstan',
       'Laos', 'Latvia', 'Lebanon', 'Leeward Islands', 'Lesotho',
       'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Low-income countries', 'Lower-middle-income countries',
       'Luxembourg', 'Macao', 'Madagascar', 'Malawi', 'Malaysia',
       'Maldives', 'Mali', 'Malta', 'Marshall Islands', 'Martinique',
       'Mauritania', 'Mauritius', 'Mayotte', 'Mexico',
       'Micronesia (country)', 'Moldova', 'Mongolia', 'Montenegro',
       'Montserrat', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Niue', 'North America',
       'North America (excl. USA)', 'North Korea', 'North Macedonia',
       'Norway', 'Oceania', 'Oman', 'Pakistan', 'Palau', 'Palestine',
       'Panama', 'Panama Canal Zone', 'Papua New Guinea', 'Paraguay',
       'Peru', 'Philippines', 'Poland', 'Portugal', 'Puerto Rico',
       'Qatar', 'Reunion', 'Romania', 'Russia', 'Rwanda',
       'Ryukyu Islands', 'Saint Helena', 'Saint Kitts and Nevis',
       'Saint Lucia', 'Saint Pierre and Miquelon',
       'Saint Vincent and the Grenadines', 'Samoa',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South America',
       'South Korea', 'South Sudan', 'Spain', 'Sri Lanka',
       'St. Kitts-Nevis-Anguilla', 'Sudan', 'Suriname', 'Sweden',
       'Switzerland', 'Syria', 'Taiwan', 'Tajikistan', 'Tanzania',
       'Thailand', 'Timor', 'Togo', 'Tonga', 'Trinidad and Tobago',
       'Tunisia', 'Turkey', 'Turkmenistan', 'Turks and Caicos Islands',
       'Tuvalu', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Upper-middle-income countries',
       'Uruguay', 'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'Wallis and Futuna', 'World', 'Yemen', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [7]:
# display columns to see which to remove
co2_df_cleaned.columns

Index(['country', 'year', 'iso_code', 'population', 'gdp', 'cement_co2',
       'cement_co2_per_capita', 'co2', 'co2_growth_abs', 'co2_growth_prct',
       'co2_per_capita', 'co2_per_gdp', 'co2_per_unit_energy', 'coal_co2',
       'coal_co2_per_capita', 'consumption_co2', 'consumption_co2_per_capita',
       'consumption_co2_per_gdp', 'cumulative_cement_co2', 'cumulative_co2',
       'cumulative_coal_co2', 'cumulative_flaring_co2', 'cumulative_gas_co2',
       'cumulative_oil_co2', 'cumulative_other_co2', 'energy_per_capita',
       'energy_per_gdp', 'flaring_co2', 'flaring_co2_per_capita', 'gas_co2',
       'gas_co2_per_capita', 'ghg_excluding_lucf_per_capita', 'ghg_per_capita',
       'methane', 'methane_per_capita', 'nitrous_oxide',
       'nitrous_oxide_per_capita', 'oil_co2', 'oil_co2_per_capita',
       'other_co2_per_capita', 'other_industry_co2',
       'primary_energy_consumption', 'share_global_cement_co2',
       'share_global_co2', 'share_global_coal_co2',
       'share_global_cumulative_cement_co2', 'share_global_cumulative_co2',
       'share_global_cumulative_coal_co2',
       'share_global_cumulative_flaring_co2',
       'share_global_cumulative_gas_co2', 'share_global_cumulative_oil_co2',
       'share_global_cumulative_other_co2', 'share_global_flaring_co2',
       'share_global_gas_co2', 'share_global_oil_co2',
       'share_global_other_co2', 'total_ghg', 'total_ghg_excluding_lucf',
       'trade_co2', 'trade_co2_share'],
      dtype='object')

In [8]:
# select columns for new DF
co2_df_cleaned=co2_df_cleaned[['country', 'year', 'iso_code', 'population', 'gdp','co2','cement_co2','coal_co2','flaring_co2','gas_co2','oil_co2','other_industry_co2','co2_per_capita','cement_co2_per_capita','coal_co2_per_capita','flaring_co2_per_capita','gas_co2_per_capita','oil_co2_per_capita','other_co2_per_capita', 'share_global_co2','share_global_cumulative_co2']]

In [9]:
# use .loc to select all except the continents/unions that aren't specifically a country
co2_df_cleaned=co2_df_cleaned.loc[co2_df_cleaned['country']!= 'Africa',:]
co2_df_cleaned=co2_df_cleaned.loc[co2_df_cleaned['country']!= 'Asia',:]
co2_df_cleaned=co2_df_cleaned.loc[co2_df_cleaned['country']!= 'Asia (excl. China & India)',:]
co2_df_cleaned=co2_df_cleaned.loc[co2_df_cleaned['country']!= 'Europe',:]
co2_df_cleaned=co2_df_cleaned.loc[co2_df_cleaned['country']!= 'Europe (excl. EU-27)',:]
co2_df_cleaned=co2_df_cleaned.loc[co2_df_cleaned['country']!= 'Europe (excl. EU-28)',:]
co2_df_cleaned=co2_df_cleaned.loc[co2_df_cleaned['country']!= 'European Union (27)',:]
co2_df_cleaned=co2_df_cleaned.loc[co2_df_cleaned['country']!= 'European Union (28)',:]
co2_df_cleaned=co2_df_cleaned.loc[co2_df_cleaned['country']!= 'High-income countries',:]
co2_df_cleaned=co2_df_cleaned.loc[co2_df_cleaned['country']!= 'International transport',:]
co2_df_cleaned=co2_df_cleaned.loc[co2_df_cleaned['country']!= 'Kuwaiti Oil Fires',:]
co2_df_cleaned=co2_df_cleaned.loc[co2_df_cleaned['country']!= 'Low-income countries',:]
co2_df_cleaned=co2_df_cleaned.loc[co2_df_cleaned['country']!= 'Lower-middle-income countries',:]
co2_df_cleaned=co2_df_cleaned.loc[co2_df_cleaned['country']!= 'North America',:]
co2_df_cleaned=co2_df_cleaned.loc[co2_df_cleaned['country']!= 'North America (excl. USA)',:]
co2_df_cleaned=co2_df_cleaned.loc[co2_df_cleaned['country']!= 'Panama Canal Zone',:]
co2_df_cleaned=co2_df_cleaned.loc[co2_df_cleaned['country']!= 'South America',:]
co2_df_cleaned=co2_df_cleaned.loc[co2_df_cleaned['country']!= 'Upper-middle-income countries',:]

In [10]:
# clean up indexing such that there is a primary key for loading to PostgreSQL
co2_df_cleaned=co2_df_cleaned.reset_index()

In [11]:
# clean up indexing such that there is a primary key for loading to PostgreSQL
co2_df_cleaned=co2_df_cleaned.drop('index',axis=1)

In [12]:
# clean up indexing such that there is a primary key for loading to PostgreSQL
co2_df_cleaned.index += 1

In [13]:
# clean up indexing such that there is a primary key for loading to PostgreSQL
co2_df_cleaned=co2_df_cleaned.reset_index()
co2_df_cleaned.head()

,index,country,year,iso_code,population,gdp,co2,cement_co2,coal_co2,flaring_co2,...,other_industry_co2,co2_per_capita,cement_co2_per_capita,coal_co2_per_capita,flaring_co2_per_capita,gas_co2_per_capita,oil_co2_per_capita,other_co2_per_capita,share_global_co2,share_global_cumulative_co2
0,1,Afghanistan,1972,AFG,11791222.0,1.317055e+10,1.530,0.046,0.191,0.366,...,NaN,0.130,0.004,0.016,0.031,0.025,0.053,NaN,0.01,0.0
1,2,Afghanistan,1973,AFG,12108963.0,1.356863e+10,1.635,0.067,0.311,0.223,...,NaN,0.135,0.005,0.026,0.018,0.027,0.058,NaN,0.01,0.0
2,3,Afghanistan,1974,AFG,12412960.0,1.430911e+10,1.913,0.070,0.305,0.367,...,NaN,0.154,0.006,0.024,0.030,0.032,0.062,NaN,0.01,0.0
3,4,Afghanistan,1975,AFG,12689164.0,1.517777e+10,2.121,0.069,0.399,0.304,...,NaN,0.167,0.005,0.031,0.024,0.038,0.069,NaN,0.01,0.0
4,5,Afghanistan,1976,AFG,12943093.0,1.602361e+10,1.981,0.079,0.425,0.293,...,NaN,0.153,0.006,0.033,0.023,0.023,0.068,NaN,0.01,0.0

In [14]:
co2_df_cleaned=co2_df_cleaned.rename(columns={'index': 'id'})

In [15]:
co2_df_cleaned.head()

,id,country,year,iso_code,population,gdp,co2,cement_co2,coal_co2,flaring_co2,...,other_industry_co2,co2_per_capita,cement_co2_per_capita,coal_co2_per_capita,flaring_co2_per_capita,gas_co2_per_capita,oil_co2_per_capita,other_co2_per_capita,share_global_co2,share_global_cumulative_co2
0,1,Afghanistan,1972,AFG,11791222.0,1.317055e+10,1.530,0.046,0.191,0.366,...,NaN,0.130,0.004,0.016,0.031,0.025,0.053,NaN,0.01,0.0
1,2,Afghanistan,1973,AFG,12108963.0,1.356863e+10,1.635,0.067,0.311,0.223,...,NaN,0.135,0.005,0.026,0.018,0.027,0.058,NaN,0.01,0.0
2,3,Afghanistan,1974,AFG,12412960.0,1.430911e+10,1.913,0.070,0.305,0.367,...,NaN,0.154,0.006,0.024,0.030,0.032,0.062,NaN,0.01,0.0
3,4,Afghanistan,1975,AFG,12689164.0,1.517777e+10,2.121,0.069,0.399,0.304,...,NaN,0.167,0.005,0.031,0.024,0.038,0.069,NaN,0.01,0.0
4,5,Afghanistan,1976,AFG,12943093.0,1.602361e+10,1.981,0.079,0.425,0.293,...,NaN,0.153,0.006,0.033,0.023,0.023,0.068,NaN,0.01,0.0

In [16]:
# display column names to help create table in PostgreSQLco2_df_cleaned=co2_df_cleaned.rename(columns={'index':'id'})
co2_df_cleaned.columns

Index(['id', 'country', 'year', 'iso_code', 'population', 'gdp', 'co2',
       'cement_co2', 'coal_co2', 'flaring_co2', 'gas_co2', 'oil_co2',
       'other_industry_co2', 'co2_per_capita', 'cement_co2_per_capita',
       'coal_co2_per_capita', 'flaring_co2_per_capita', 'gas_co2_per_capita',
       'oil_co2_per_capita', 'other_co2_per_capita', 'share_global_co2',
       'share_global_cumulative_co2'],
      dtype='object')

## Loading

In [17]:
# import SQLalchemy dependencies
from sqlalchemy import create_engine, inspect

In [18]:
# create conneciton to PostgreSQL
protocol = 'postgresql'
username = 'postgres'
password = 'bootcamp'
host = 'localhost'
port = 5432
database_name = 'world_carbon_emissions_db'
rds_connection_string = f'{protocol}://{username}:{password}@{host}:{port}/{database_name}'
engine = create_engine(rds_connection_string)

In [19]:
# Confirm tables
inspector = inspect(engine)
inspector.get_table_names()

['world_co2']

In [20]:
# load world carbon emissions dataframe into database
co2_df_cleaned.to_sql(name='world_co2', con=engine, if_exists='append', index=False)

964